
{% if records|length %}
    {% set list_attributes = attrs()
        .addClass('child-records')
    %}
    <ul{{ list_attributes }}>
        {% for record in records %}
            {% block record %}
                <li{{ attrs().set('data-id', record.id, is_sortable) }}>
                    {% if record.group_header is defined %}
                        <div class="tl_content_header">{{ record.group_header|raw }}</div>
                    {% endif %}

                    {% set record_attributes = attrs()
                        .addClass('tl_content')
                        .addClass('wrapper_start', record.display.wrapper_start|default)
                        .addClass('wrapper_separator', record.display.wrapper_separator|default)
                        .addClass('wrapper_stop', record.display.wrapper_stop|default)
                        .addClass(['indent', "indent_#{record.display.wrap_level|default}"], record.display.wrap_level|default)
                        .addClass('indent_first', record.display.indent_first|default)
                        .addClass('indent_last', record.display.indent_last|default)
                        .addClass('draft', record.is_draft)
                        .addClass(record.class)
                        .set('data-turbo', 'false')
                        .set('data-action', 'click->contao--check-all#toggleInput')
                    %}
                    <div{{ record_attributes }}>
                        <div class="inside hover-div" data-controller="contao--deeplink contao--operations-menu" data-action="contextmenu->contao--operations-menu#open">
                            {# Right column #}
                            <div class="tl_content_right" data-turbo="true">
                                {{ include(('@Contao/backend/data_container/table/view/_record_operations.html.twig')) }}
                            </div>

                            {# Record #}
                            {% if record.legacy_data is defined %}
                                {{ record.legacy_data|raw }}
                            {% else %}
                                {% if display_grid %}
                                    {# Record displayed as box with optional preview #}
                                    {% set record_label_attributes = attrs()
                                        .addClass('cte_type')
                                        .addClass(record.state, record.state)
                                    %}
                                    <div{{ record_label_attributes }}>
                                        {% block label %}
                                            {{ record.label|raw }}
                                        {% endblock %}
                                    </div>

                                    {% if record.preview %}
                                        <div class="cte_content" data-contao--limit-height-target="node">
                                            <div class="cte_preview" style="contain:paint">
                                                {{ record.preview|raw }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {# Record displayed flat #}
                                    {% set record_label_attributes = attrs()
                                        .addClass('tl_content_left')
                                        .addClass(record.state, record.state)
                                    %}
                                    <div{{ record_label_attributes }}>
                                        {{ block('label') }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endblock %}
        {% endfor %}
    </ul>
{% endif %}